.sidebar {
    position: absolute;
    width: 300px;
    background: #494f54;
    height: 100%;
    box-shadow: 1px 0px 5px #343a40;
}

.sidebar .content {
    width: 90%;
    height: 100%;
    margin: auto;
}

.sidebar .content ul {
    list-style: none;
    padding-left: 20px
}

.sidebar .content ul li {
    color: white;
    padding-top: 20px;
}

.main {
    margin-left: 300px;
    padding: 20px;
}

.active li {
    color: red !important;
}

.box {
    width: 300px;
    height: 100px;
    box-shadow: 1px 2px 3px black;
    background-color: #343a40;
}
